body {
  background: linear-gradient(to bottom, rgb(78, 75, 75), rgb(136, 123, 123));
  color: rgb(65, 65, 65);
}

header {
  position: static;
}
#logo a {
  color: rgb(183, 230, 235);
}
#logo a:hover {
  color: rgb(159, 227, 235);
}
#nav-bar a {
  color: rgb(183, 230, 235);
}
#nav-bar a:hover {
  background-color: rgb(183, 230, 235);
  color: rgb(59, 59, 59);
}

main ul {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

.card {
  display: flex;
  /*   position: relative;
 */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  background-color: cornsilk;
  border-radius: 9px;
  overflow: hidden;
  width: 100%;
}
.item-content {
  text-align: start;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  height: 280px;
  width: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.content-text h2 {
  text-transform: capitalize;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.content-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top:30px;
}

main a {
  color: rgb(0, 195, 255);
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  transition: background-color 150ms ease-in-out 20ms;
  padding: 10px;
  align-self: flex-end;
}
main a:hover {
  box-shadow: 1px 1px 2px rgba(34, 31, 31, 0.2);
  background-color: rgb(151, 228, 224);
 
}

/* li:nth-of-type(3){
  grid-column:1/span 2;
}
li:nth-of-type(6){
  grid-column:1/span 2;
} */
[type="3k"] {
  grid-column: 1 / span 2;
}
.card.card-three div {
  /*   width: 900px;
 */
  width: 100%;
}
